.post-content{
    h1,h2,h3,h4,h5,h6{ font-family: $f_body; }
    p, li{ font-family: $f_body; }

    .wp-caption {
        max-width: 100%;
    }

    iframe, img {
        max-width: calc(100vw - 20px);

        @include desktop{
            max-width: 100%;
        }
    }

    blockquote{
        border-left: 3px solid #979797;
        font-style: italic;

        p{ color: $c_gray; }

        cite{
            font-style: normal;
            color: $c_primary;
            font-size: 18px;
            font-family: $f_body;
            float: right;
        }
    }

    #single-the-content {
        a {
            word-break: break-word;
        }
    }

    &--tags{
        padding: 20px 0;
        font-family: $f_body;
        text-transform: uppercase;

        a{
            color: #B91315;
            font-size: 14px;
        }
    }

    &--section-title{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &--related-posts{
        margin: 60px 0 40px 0;

        .card.horizontal {
            .card--category {
                max-width: 100%;
            }
        }
    }

    &--comments{
        * { font-family: $f_body !important; }

        .comment-form{
            display: flex;
            flex-wrap: wrap;

            &-comment, .logged-in-as{
                flex: 0 0 100%;
                max-width: 100%;
            }

            &-email, &-author, &-url {
                flex: 0 0 calc(33% - 7px);
                max-width: calc(33% - 7px);
                margin-right: 15px;

                @include mobile {
                    flex: 0 0 100%;
                    max-width: calc(100% - 7px);
                }
            }

            &-url{ margin-right: 0px; }
        }


        label, #reply-title, .submit{
            text-transform: uppercase;
            font-weight: 600;
        }

        .submit{
            border: none;
            color: white;
            background-color: $c_primary;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
        }
    }

    &--share{
        position: fixed;
        top: 50vh;
        left: calc((( 100vw - 960px ) / 2) - 150px);
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        text-align: center;
        background: $c_secondary;
        border-radius: 25px;
        padding-top: 10px;

        a{
            display: block;
            width: 30px;
            height: 30px;
            font-size: 15px;
            line-height: 0;
            margin-bottom: 5px;
            color: white;
        }
    }

    &--subshare{
        position: relative;
        text-align: center;
        margin: 30px auto;
        background: $c_secondary;
        border-radius: 25px;
        max-width: 280px;

        a{
            font-size: 23px;
            color: white;
            padding: 0 15px;
        }

        &:before{
            content: 'COMPARTILHE';
            position: absolute;
            width: 100%;
            left: 0;
            top: -22px;
            color: #01215b;
            font-size: 14px;
        }
    }

    &--author{
        color: $c_gray;
        font-family: $f_body;

        &, a{ color: $c_gray; }

        &-name{
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
        }

        &-biography{
            font-size: 14px;
            line-height: 18px;
        }
    }
}

// Enable image alignment for custom theme
.post-content{
    [class^="so-widget-"] {
        margin-bottom: 10px;
    }
}

.post-content, .page-content{

    @media screen and (max-width: 768px){
        padding-top: 30px;

        p{
            width: 100%;
            overflow: hidden;
        }
    }

    #single-the-title h1{
        font-weight: 600;

        @media screen and (max-width: 768px){
            font-size: 30px;
        }
    }

    .alignfull {
        margin-left  : calc( -100vw / 2 + 100% / 2 );
        margin-right : calc( -100vw / 2 + 100% / 2 );
        min-width    : 100vw;
    }

    .alignwide {
        margin-left  : -100px;
        margin-right : -100px;
        width: calc(100% + 200px);
    }

    @include mobile{
        .alignfull, .alignwide{
            margin-left: -10px;
            margin-right: -10px;
            width: calc(100% + 20px);
            max-width: 100vw;
        }
    }
}
.post-content .alignwide { max-width: 900px; }
.page-content .alignwide { max-width: 1160px; }
ul.wp-block-gallery{ margin: 0; }

.post-excerpt  {
    font-size: 20px;
    font-style: italic;
}

.post-info  {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1.5px solid #cdd6e4;
    padding-bottom: 7px; 
    
    .first-line > *, .author, .date {
        margin-bottom: 0;
    }

    .category {
        display: inline-block;
        text-transform: uppercase;
    }

    .first-line {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .category, .date {
        text-align: right;
    }

    .author, .date{
        display: inline-block;
        font-size: 13px;
        color: #585858;
        width: 50%;
    }

    .author a {
        font-weight: bold;
    }

    .category {
        color: #B91315;
    }
}

.comment-meta {
    line-break: strict;

    @include mobile {
        max-width: 30vw;
    }
}

.single {
    .grecaptcha-badge {
        @include tablet {
            display: none;
        }
    }
}