<template>
    <div class="card-list">
        <div class="row justify-content-center">
            <div class="column large-12 mb-15 card-section--title" v-show="title">
                <h3 class="m-0" v-html="title"></h3>
            </div>

            <div v-for="post in posts" :key="post.ID" class="column small-12" :class="size + ' large-' + (12 / columns)" >
                <Card :post="post"></Card>
            </div>
        </div>
    </div>
</template>

<script>
import Card from './Card'

export default {
    name: 'card-list',
    components : { Card },
    props : {
        'widget_id' : { type : String },
        'title' : { type : String },
        'size' : { type: String, default : false },
        'columns' : { type: Number, default : 1 },

    },
    data(){
        return {
            posts : [],
        }
    },
    mounted(){
        this.posts = window[`card_list_${this.widget_id}`];
    },
}
</script>

<style>
.card-list{ width: 100%; }
</style>
