<template>
    <a :href="post.permalink">
        <div class="card" :class="{ featured }">
                <img :src="post.image" :alt="post.title" class="card--image">
                <h4 class="card--title" v-html="post.title"></h4>
                <div class="mb-5 card--info" v-if="!featured">
                    <a 
                    v-for="cat of post.categories" 
                    :key="cat.term_id" 
                    :href="'/'+cat.taxonomy+'/'+cat.slug" 
                    class="card--category" 
                    :class="{ 'hide' : hideCategory(cat) }"
                    v-html="cat.name"> 
                    </a>
                    <i class="far fa-clock"></i>
                    <span class="card--date" v-html="post.date"></span>
                    <i class="fas fa-pencil-alt"></i>
                    <span class="card--author" v-html="'<strong>'+ post.author +'</strong>'"></span>
                </div>
                <a :href="post.permalink">
                    <p class="card--excerpt" v-if="!featured" v-html="post.excerpt"></p>
                </a>
        </div>
    </a>
</template>


<script>
export default {
    name: 'card',
    props : {
        'size' : {
            type : String,
            default : 'medium'
        },
        'post' : { type: Object },
        'featured' : { type: Boolean, default : false }
    },
    methods : {
        hideCategory(cat){
            return typeof window['subhome'] == 'undefined' &&  cat.parent != 0;
        }
    }
}
</script>

<style lang="scss">

</style>
