<template>
    <div class="card-section featured" :class="{ 'loading' : loading }">
        <div class="row" v-show="!loading">
            <div class="column large-12 mb-15 card-section--title">
                <h3 v-html="title"></h3>

                <div class="card-pagination">
                    <button class="previous" :class="{ 'disabled' : page - 1 == 0 }" @click="paginationPrevious"> <i class="fas fa-angle-left"></i> </button>
                    <button class="next" :class="{ 'disabled' : page >= totalPages }" @click="paginationNext"> <i class="fas fa-angle-right"></i> </button>
                </div>
            </div>

            <div v-for="(post, index) in posts" :key="index" class="column" :class="'large-' + (12 / columns)">
                <Card :featured="true" :post="post"></Card>
            </div>
        </div>
    </div>
</template>

<script>
import Card from './Card'
import pagination from '../mixins/pagination';

export default {
    name: 'card-featured-section',
    components : { Card },
    mixins : [ pagination ],
    props : {
        'title' : { type : String },
        'hash' : { type : String },
        'columns' : { type : Number, default : 1 },
    },
    mounted(){
        this.loadPosts()
    },
}
</script>
