<template>
    <div class="card-section component-wrapper" :class="{ 'loading' : loading }">
        <div class="row">
            <div class="column large-12 mb-15 card-section--title">
                <h3 class="m-0" v-html="title"></h3>
                <div class="card-section--tabs" v-if="tabs != 'false'">
                    <a href="javascript:void(0);" class="card-section--tab" @click="loadAll()" :class="{ 'active' : args.terms.length > 1 }">Todos</a>
                    <a 
                        class="card-section--tab" 
                        v-for="tab in tabs" 
                        :key="tab.slug" 
                        :class="{ 'active' : args.terms == tab.slug }"
                        @click="loadTab(tab.slug)" 
                        href="javascript:void(0);" >
                        {{ tab.name }}
                    </a>
                </div>
            </div>
            
            <div class="column large-6 small-12" v-if="hasLargePost && featuredPost" v-show="!loading">
                <Card class="large" :post="featuredPost"></Card>
            </div>

            <div class="column small-12" :class="!hasLargePost || !featuredPost ? 'large-12' : 'large-6'" v-show="!loading">
                <div class="row">
                    <div v-for="post in posts" :key="post.ID" class="column p-0" :class="'large-' + (12 / totalColumns)">
                        <Card :post="post"></Card>
                    </div>
                </div>
            </div>

            <div class="card-pagination" v-if="hasPagination">
                <button class="previous" :class="{ 'disabled' : page - 1 == 0 }" @click="paginationPrevious"> <i class="fas fa-angle-left"></i> </button>
                <button class="next" :class="{ 'disabled' : page >= totalPages }" @click="paginationNext"> <i class="fas fa-angle-right"></i> </button>
            </div>
        </div>
    </div>
</template>

<script>
import Card from './Card'
import pagination from '../mixins/pagination';

export default {
    name: 'card-section',
    components : { Card },
    mixins : [ pagination ],
    props : {
        'hash' : { type : String },
        'title' : { type : String },
        'has-large-post' : { type : Boolean, default : false }, 
        'has-pagination' : { type : Boolean, default : true }, 
        'columns' : { type : Number, default : 1 },
    },
    data(){
        return {
            totalColumns : 1,
            tabs : [],
        }
    },
    mounted(){
        this.tabs = window[`card_section_${this.hash}_tax`];
        this.loadAll()
        this.totalColumns = this.hasLargePost ? 1 : this.columns;
    },
    methods : {
        loadTab(filter){
            this.args.terms = [filter];
            this.args.page = 1;
            this.loadPosts()
        },
        loadAll(){
            if (this.tabs != 'false') {
                this.args.terms =  this.tabs.map(x => x.slug )
            }
            this.loadPosts()
        }
    }
}
</script>