.button{
    border-radius: 5px;
    border: 2px solid $c_primary;
    background-color: $c_primary;
    font-weight: 900;
    padding: 6px 15px;
    font-size: 15px;

    &, &:focus, &:active, &:hover{
        color: white;
    }

    &.white{
        background-color: #fff;
        border-color: white;
        color: $c_secondary;
    }

    &.border-white{
        border-color: white;
    }

    &.outline{
        background-color: transparent;
    }

    &.block{
        display: block;
        width: 100%;
    }

    &.small{
        padding: 4px 15px;
        font-size: 13px;
        line-height: 13px;
    }
}