.posts-flickity {

    .carousel-cell {
        background-position: center;
        background-size: cover;
        margin-right: 20px;
        padding-top: calc(0.33333 * 960px);
        position: relative;
        width: 50%;

        @media (max-width: 960px) {
            padding-top: 33.333%;
        }

        @media (max-width: 600px) {
            padding-top: 66.667%;
            width: 100%;
        }

        &--content {
            background: linear-gradient(180deg, transparent 0%, #000000 100%);
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            padding: 10px 10px 40px;
            position: absolute;
            bottom: 0; left: 0; right: 0; top: 0;
        }

        &--category {
            background-color: $c_primary;
            border-radius: 3px;
            color: white;
            font-size: 0.85em;
            font-weight: bold;
            margin-bottom: 10px;
            padding: 2.5px 5px;
        }

        &--title {
            color: white;
            font-family: $f_title;
            font-weight: bold;
        }
    }

    ol.flickity-page-dots {
        bottom: 15px;

        li.dot {
            background-color: $c_primary;
            margin: 0 4px;
            opacity: 1;

            &.is-selected {
               height: 12px;
               width: 12px;
            }
        }
    }
}


.is_subhome{
    .carousel-cell--category{
        background-color: $c_gray;
    }
}