.card-section.featured{

    .card-section--title{
        padding: 0 0 5px 0;
        margin: 0 15px;

        h3{
            margin: 0px 0px -23px -3px;
            background: #E20000;
            color: white;
            border-radius: 5px;
            padding: 4px 10px;
        }
    }
}