.card {
    margin: 15px 0;
    overflow: hidden;

    &--image{ border-radius: 5px; }
    
    &:not(.featured) &--image {
        width: 139px;
        float: left;
        margin-right: 20px;
        
        @include mobile {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    @include mobile{
        .card--title, .card--info, .card--excerpt{
            padding: 0 10px;
        }
    }

    &--title {
        color: $c_gray;
        font-size: 17px;
        font-weight: 900;
        margin: 0;
    }

    &--excerpt {
        color: $c_gray;
        font-size: 15px;
        line-height: 22px;
        display: none;
    }

    i,
    &--date,
    &--author a,
    &--category {
        color: #888888;
        font-size: 13px;
        line-height: 16px;
    }

    &--category{
        font-weight: bold;
        &::after{ content: ', ' }
        &:last-of-type:after{ display: none }
    }

    i{ margin: 0 5px; }

    .fa-pencil-alt, .card--author{ display: none; }
}

.card.featured{
    position: relative;

    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 60%;
        bottom: 0px;
        border-radius: 5px;
        left: 0;
        z-index: 1;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #000000 100%);
    }

    .card--image{ width: 100%; }

    .card--title{
        position: absolute;
        z-index: 1000;
        color: white;
        bottom: 15px;
        font-size: 17px;	
        font-weight: 900;
        padding: 0 15px;
    }
}

.large:not(.featured){
    .card--image{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .card--excerpt{ display: block; }
    .card--title{ font-size: 23px; }
    .fa-pencil-alt, .card--author{ display: inline-block; }
}