.card-section {
    width: 100%;

    &.small{
        .column{
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0;
        }

        > .row > .column{
            margin: 0 5px;
        }

        .card{ margin: 5px 0; }
        .large .card{ margin-top: 20px; }

        .card-section--title h3{
            margin: 0px 0px -17px -3px !important;
            background: #E20000;
            color: white;
            border-radius: 5px;
            padding: 4px 10px;
        }

        .card--info{ display: none; }
    }

    &--title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid $c_primary;
        padding: 0 0 3px 0;
        margin: 0 10px;
        min-height: 53px;
        max-width: calc(100vw - 20px);

        h3 {
            color: $c_primary;
            text-transform: uppercase;
            font-size: 25px;
            font-weight: bold;
            line-height: 30px;
        }
    }

    &--tabs {
        flex: 1;
        justify-content: flex-end;
        margin-left: 30px;
        display: flex;
        flex-wrap: wrap;

        @include mobile{
            display: none;
        }
    }

    &--tab {
        color: $c_gray;
        font-size: 15px;
        line-height: 18px;
        margin-left: 15px;
        white-space: nowrap;
        margin-bottom: 5px;

        &.active {
            font-weight: bold;
            color: $c_primary;
        }
    }
}

.card-pagination {
    display: flex;
    margin-top: 15px;
    
    >button {
        height: 30px;
        width: 30px;
        border: 1px solid #D4D4D4;
        color: #888888;
        padding: 5px 7px;
        border-radius: 0;
        margin-left : 10px;
        cursor: pointer;
    }
}