.featured-videos{
    background-color: $c_gray;
    padding: 40px;
    color: #FFFFFF;

    @include mobile{
        padding: 30px 15px;

        .first-column{ padding-right: 0; }
    }

    .first-column{ padding-right: 50px; }

    .button {
        font-weight: normal;
        text-transform: uppercase;

        &.composed {
            color: $c_gray;
            display: inline-block;

            span {
                margin-right: 10px;
                vertical-align: super;
            }
        }
    }

    &--title{
        font-family: $f_title !important;
        font-size: 60px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &--description{
        font-family: $f_body;
        font-size: 18px;
        line-height: 23px;
        margin: 30px 0 40px 0;

        @include desktop{
            max-width: 79%;
        }
    }

    &--thumbnail {
        &.active img{ border-bottom: 4px solid $c_primary ; }
        img{ margin-top: 15px; }
    }

    .live{
        @include pseudo('after', '', ''){
            content: 'Ao vivo';
            background: red;
            text-transform: uppercase;
            top: 15px;
            font-size: 9px;
            color: white;
            padding: 2px 5px 0 5px;
            font-family: $f_body;
            font-weight: bolder;
            border-bottom-right-radius: 8px;
        }
    }

}