.links-editorias{

    .card-section--title{
        margin: 0 !important;

        h3{ margin: 0px 0px -23px 0px !important; }
    }

    &--content{
        background-color: #D8D8D8;
        padding: 25px 20px;
        border-radius: 0 0 5px 5px;
    }

    &--description { text-align: center; }

    &--list{
        list-style-type: none;
        margin: 0;

        li a{
            color: $c_secondary;
            display: inline-block;
            margin-bottom: 3px;
            font-size: 14px;
            transition: all .6s;
            border-bottom: 1.5px solid transparent;

            &:hover{
                border-bottom: 1.5px solid #E20000;
            }
        }
    }
}