.newsletter{
    border-radius: 5px;
    width: 100%;
    background-image: url($dir_assets + 'images/newsletter_bg.png');
    background-position: center;
    background-size: cover;
    padding: 30px calc((100% - 620px) / 2);
    text-align: center;
    color: white;

    &--title{
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 5px;
    }

    &--description{ font-size: 17px; }

    @include desktop{
        background-image: url($dir_assets + 'images/newsletter_bg_mobile.png');
        padding: 30px 15px;

        .newsletter--description{ margin: 30px 0; }
        input{ margin-bottom: 0; }
    }

    &.small{
        background-image: url($dir_assets + 'images/newsletter_bg_mobile.png');
        padding: 30px 15px;
        
        .newsletter--description{ margin: 30px 0; }
        input{ margin-bottom: 16px; }
    }
}