body{
    font-family: $f_body;
    color: $c_gray;
    background-color: $c_gray__lighter;
}

.row-small{
    max-width: 770px;
}

.column{
    @media screen and (max-width: 768px){
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.panel-layout{
    width: 100%;

    .row{ max-width: 960px !important; margin: 0 auto; }
}

img.aligncenter{
    display: block;
    margin: 0 auto;
}

img.alignnone{
    width: 100%;
}

.wp-block-embed {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    .wp-block-embed__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;

        iframe{ 
            width: 100%;
            height: 100%; 
        }
    }
}

.filter-primary-to-white{
    filter: grayscale(100%) brightness(2);
}

.filter-primary-to-gray{
    filter: grayscale(100%);
}

.disabled{ 
    opacity: 0.5;
} 

hr{
    border-width: 3px;
    border-color: #021E51;

    &.small{
        width: 80%;
        margin: 0 auto;
    }
}

.component-wrapper{
    @include mobile{
        max-width: calc(100vw - 20px);
        margin-left: auto;
        margin-right: auto;
    }

    &.small{
        max-width: calc(100vw - 20px);
        margin-left: auto;
        margin-right: auto;

        .column{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}