$f_body: 'Lato', sans-serif;
$f_title: 'Lato', sans-serif;

$c_gray__lighter: #f5f5f5;
$c_gray__light:#888888;
$c_gray:#333333;

$c_primary: #E20000;
$c_secondary: #021E51;

$dir_assets : '/wp-content/themes/observatorio/assets/';