.comment{
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;

    p{ 
        font-size: 14px; 
        padding-left: 65px;
    }

    &-meta{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 12px;
    }

    &s-title{
        font-size: 24px;
        font-weight: bolder;
    }

    &-list, .children{
        list-style-type: none;
        margin: 0;
    }

    .children .comment{ 
        background-color: #f1f1f1; 
        margin-top: 10px;
    }

    &-author img{
        float: left;
        margin-right: 15px;
        border-radius: 50%;
        margin-bottom: 15px;
    }

    .reply{
        text-align: right;

        a{
            color: white;
            background: $c_primary;
            text-transform: uppercase;
            border-radius: 10px;
            font-size: 12px;
            font-weight: bold;
            padding: 3px 10px;
            border-radius: 3px;

            &:hover{ color: white; }
        }
    }
}