footer.main-footer {
    background-color: $c_secondary;
    color: white;
    padding: 20px 10px;
    margin-top: 30px;

    .main-footer--logo {
        margin-bottom: 1em;
    }

    h3 {
        font-weight: 900;
        margin-top: 1.5em;
        text-transform: uppercase;
    }

    ul.menu {
        margin-left: 0;

        li {
            list-style: none;

            &:before {
                content: '\200B';
            }

            a {
                color: white;
            }
        }
    }

    ul.social-networks {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            padding: 0 17px 0 0;

            a {
                color: white;
            }
        }
    }

    form.cadastre-se {
        input, button {
            display: inline-block;
            font-size: 0.9em;
        }

        input {
            background-color: $c_secondary;
            color: white;
            border: 1px solid white;

            &::placeholder {
                font-style: italic;
                text-transform: lowercase;
            }
        }

        button {
            background-color: white;
            color: $c_secondary;
            font-weight: bold;
            padding: 12px;
            text-transform: lowercase;
        }
    }
}
