@include tablet{
    body{
        padding-top: 30px;
    }
}
header {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        @include tablet { padding: 0 10px; }
    }

    &.header-menu {
        @include tablet {
            transition: all .6s;
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            position: fixed;
            top: 0;
            left: 0;
            transform: translateX(-110%);
            width: 95vw;
            height: 100vh;
            background: linear-gradient(to top, rgba(1, 24, 66, 0.98), rgba(7, 44, 111,1));
            box-shadow: 0 0 10px black;
            z-index: 1001;
        }

        &.active{
            transform: translateX(0);
        }

        .close{
            position: absolute;
            color: white;
            font-size: 26px;
            right: 15px;
            top: 1px;
            font-weight: bolder;
            z-index: 10000000;
            cursor: pointer;
        }
    }

    &.header-menu-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        font-size: 20px;
        position: fixed;
        width: 100vw;
        top: 0;
        background: #f6f6f6;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
        z-index: 1001;
    }

    .menu {
        @include tablet {
            flex-direction: column;
            display: flex;
        }
    }

    .top-menu,
    .social-networks {
        li {
            display: inline-block;
            padding: 0 14px 0 0;

            a {
                color: $c_gray;

                @include tablet{
                    margin-bottom: 7px;
                    display: block;
                    font-size: 15px;
                    color: white;
                }
            }
        }
    }

    .top-menu {
        &--wrapper {
            background-color: #fff;
            width: 100%;
            padding: 7.5px 10px;

            @include tablet{
                background-color: transparent;
                padding: 0px 5px;
            }

            .right {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                @include tablet{
                    justify-content: space-between;
                    margin-top: 20px;
                }
            }
        }

        ul {
            line-height: 13px;

            @include desktop{
                margin-top: 5px;

                li {
                    padding-right: 6px;

                    &:before {
                        content: "|";
                        display: inline-block;
                        margin-right: 8px;
                        color: #888888;
                        font-size: 13px;
                    }
                }

                li:first-child:before,
                .children li:before {
                    content: "";
                    display: none;
                }
            }

            a {
                font-size: 13px;
                line-height: 16px;

                @include tablet{
                    color: white;
                }
            }
        }
    }


    .logo img {
        margin: 0 auto;
        width: 245px;
        display: block;

        @include tablet{
            width: 150px;
        }
    }

    .main-menu--wrapper {
        background-color: $c_secondary;
        padding: 10px;
        transition: all .6s;
        z-index: 10001;

        @include tablet{
            background-color: transparent;
            padding: 15px;
        }

        .main-menu {
            flex: 1;

            @include mobile{
                flex: 0 0 100%;
                max-width: 100%;

                ul.sub-menu {
                    li.menu-item {
                        display: block;
                        width: 100%;
                    }
                }
            }

            @include desktop {
                li.menu-item-has-children {
                    > a:after {
                        content: '\f107';
                        font-family: 'Font Awesome 5 Free';
                        margin-left: 10px;
                    }

                    ul.sub-menu {
                        display: none;
                        margin-top: 20px;
                        position: absolute;

                        li.menu-item {
                            background-color: lighten($c_secondary, 5%);
                            padding: 5px 10px;
                        }
                    }

                    &:hover {
                        .sub-menu {
                            display: block;
                        }
                    }
                }
            }
        }

        .logo-white {
            flex: 0 0 0px;
            max-width: 0px;
            transition: all .6s;
            overflow: hidden;
            margin-top: 5px;
            margin-right: 30px;
            opacity: 0;
            display: flex;
            align-items: center;

            @include tablet{
                flex: 0 0 100%;
                max-width: 100%;
                opacity: 1;

                img{ margin: 0 auto; }
            }

            img {
                width: 140px;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        a {
            color: white;
            font-size: 15px;
            font-weight: bold;
            line-height: 18px;
        }

        .static {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            padding: 10px 0;

            @include mobile { flex-direction: row; }
        }

        .search-form {
            position: relative;
            transition: all .6s;
            margin-left: 20px;
            flex: 0 0 27px;
            max-width: 27px;

            @include tablet {
                flex: 0 0 100%;
                max-width: 100%;
                margin: 10px 0;
                order: -1;
            }

            &.active {
                flex: 0 0 160px;
                max-width: 160px;
            }

            input {
                background: white;
                border-radius: 25px;
                width: 100%;
                border: none;
                margin: 0;
                height: 24px;

                @include tablet{
                    height: 32px;
                    background: #ffffff21;
                    border: 1.5px solid #6a58b1;
                    font-size: 13px;
                    border-radius: 5px;
                    color: white;
                    margin-bottom: 5px;
                }
            }

            a {
                background: $c_secondary;
                border-radius: 50%;
                position: absolute;
                top: -1px;
                right: -1px;
                padding: 3px 6px;
                border: 1px solid #101953;
            }
        }
    }


    &.scrolled {
        margin-bottom: 65px;

        .main-menu--wrapper {
            position: fixed;
            width: 100vw;
            top: 0;
            padding: 3px 10px;

            .logo-white {
                @include desktop {
                    opacity: 1;
                    max-width: 140px;
                    flex: 0 0 140px;
                }
            }

            @include desktop {
                .main-menu {
                    li.menu-item-has-children {
                        ul.sub-menu {
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
    }
}